* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
background: #FBFBFB 
}

.grid-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
}

.item {
    background: #3042eb;
    color: white;
    padding: 10px
}