* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
background: #FBFBFB 
}

.grid-container {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "item1 item1"
    "item2 item2"
    "item3 item4"
    "item5 item6"
    "item7 item7"
    "item8 item8";

}

.item {
    background: #3042eb;
    color: white;
    padding: 10px;
}

.item1 {text-align: center;
grid-area: item1;
}

.item2 {
grid-area: item2;
}

.item3 {
grid-area: item3;
}

.item4 {
grid-area: item4;
}

.item5 {
grid-area: item5;
}

.item6 {
grid-area: item6;
}

.item7 {
grid-area: item7;
}

.item8 {
grid-area: item8;
}

img {
    width: 173px;
    height:173px;
}